@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Mark's Today Prayer Site</h1>
</div>
<div class="row">
    <div>
        <h1>Today's Verse</h1>
    </div>
    <div>
        @Html.Raw(ViewBag.TodaysVerse)
    </div>
    <div>
        @foreach (var verse in ViewBag.CurrentVerses)
        {
            <tr>
                <td>@verse.Reference</td>
                <td>@verse.Text</td>
            </tr>
            <br/><br />
        }
    </div>
</div>