@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mark's Prayer Site</h1>
</div>
<div class="row">
    <div class="bg-TodaysVerse">
        <div>
            <h1>Today's Verse</h1>
        </div>
        <div>
            @Html.Raw(ViewBag.TodaysVerse)
        </div>
    </div>
    <h2>Memory Verses</h2>
    <table class="table table-striped">
        @foreach (var verse in ViewBag.YearsVerses)
        {
            <tr>
                <td><label>@verse.Reference</label></td>
                <td>@verse.Text</td>
            </tr>
        }
    </table>
</div>